.h1 {
    color: #307D7E;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.list-body {
    margin-bottom: 10px;
    font-size: 15px;
    color: #307D7E;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.edit-movie-btn {
    display: flex;
    justify-content: center;
}
.delete-movie-btn {
    text-align:  center;
    margin: auto;
}

#add-movie-btn {
}