.h1 {
    color: #307D7E;
    font-family: 'Raleway', sans-serif;
    margin: 20px;
}

.list-body {
    color: #307D7E;
    font-family: 'Raleway', sans-serif;
    margin: 20px;
}
.edit-movie-btn {
    margin-bottom: 10px;
    width: 60px;
}
.delete-movie-btn {
    margin: 4px;
}
#add-movie-btn {
    margin: 20px;

}